/* STYLES */

body {
  width:100%;
  padding:0;
  margin:0;
}

.row {
  width:100%;
}

.row-break {
  clear:both;
  width:100%;
  background-color:#2f1c0d;
  height:13px;
}

#top {
  width:100%;
  background:url(images/background.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  max-width:30%;
  margin-left:35%;
  margin-top:8%;
  margin-bottom:8%;
  border:white solid 3px;
}

.orange {
  background-color: #f3bd36
}

.yellow {
  background-color:#fff092;
}

.container {
  width:80%;
  left:10%;
  margin-bottom: 65px;
  position:relative;
}

.form {
  width:100%;
  color:black;
  text-align:left;
}

.formHead {
  padding-top:20px;
  padding-bottom:20px;
  padding-left:3%;
  color:#cdcdcd;
  font-size:25px;
  font-weight:bold;
}

.formContent {
  color:#cdcdcd;
  padding-top:30px;
  padding-bottom:40px;
}

.right, .left, .middle {
  width:33%;
  float:left;
  display:inline-block;
}

@media screen and (max-width:500px){
  .circle {
    max-width:60%;
    margin:20%;
  }
}